<!DOCTYPE html>
<html>
<head>
  <title>Communis</title>
  <script src="/js/jquery-1.12.4.min.js"></script>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "application", :media => "all" , 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.js"></script>
  <script src="/js/respond.min.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
  <link rel="stylesheet" href="/fonts/nanum-square-r.css">
</head>

<body>
  <div id="index">
    <div class="menu-toggle">
		<div class="one"></div>
		<div class="two"></div>
		<div class="three"></div>
	  </div>
    <div id="logo">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 334.13 53.73"><defs><style>.cls-1{fill:#fff;}</style></defs><title>자산 1</title><g id="레이어_2" data-name="레이어 2"><g id="레이어_1-2" data-name="레이어 1"><path class="cls-1" d="M29.48,46.6a4.12,4.12,0,0,1,1.21,3,4.12,4.12,0,0,1-4.15,4.15h-5A20.65,20.65,0,0,1,13.23,52,22.21,22.21,0,0,1,6.38,47.4a22,22,0,0,1-4.66-6.83,21.22,21.22,0,0,1,0-16.75A22,22,0,0,1,6.38,17a22.22,22.22,0,0,1,6.85-4.62,20.65,20.65,0,0,1,8.34-1.71h5a4.12,4.12,0,0,1,4.15,4.15,4.12,4.12,0,0,1-1.21,3A4,4,0,0,1,26.53,19h-5a12.66,12.66,0,0,0-5.13,1,13.83,13.83,0,0,0-4.19,2.81,13,13,0,0,0-2.85,4.19,12.73,12.73,0,0,0-1,5.09,13,13,0,0,0,3.89,9.35,13.79,13.79,0,0,0,4.19,2.81,12.65,12.65,0,0,0,5.13,1h5A4,4,0,0,1,29.48,46.6Z"/><path class="cls-1" d="M51.05,10.92A21.63,21.63,0,0,1,74.54,24a20.69,20.69,0,0,1,1.57,8.27A20.55,20.55,0,0,1,75,39a22.19,22.19,0,0,1-3.12,6,21.24,21.24,0,0,1-8.31,6.73,21.49,21.49,0,0,1-10.45,2,21.07,21.07,0,0,1-5.49-1.14,22.14,22.14,0,0,1-9.18-6.1,20.53,20.53,0,0,1-3.15-4.62,22.35,22.35,0,0,1-1.78-5.16,20.83,20.83,0,0,1-.44-5.39A23.16,23.16,0,0,1,34,25.9a19.65,19.65,0,0,1,2.24-5,12.87,12.87,0,0,1,1.14-1.74h.07a20,20,0,0,1,6-5.43A23.2,23.2,0,0,1,51.05,10.92ZM65.52,39.66a13.43,13.43,0,0,0,2.21-9.38,12.88,12.88,0,0,0-1.47-4.36,14.2,14.2,0,0,0-3.48-4.15A12.29,12.29,0,0,0,58,19.36,12.73,12.73,0,0,0,52.59,19,13,13,0,0,0,47.5,20.9a13.38,13.38,0,0,0-4.69,5.16,13,13,0,0,0-1.47,6.83,12.3,12.3,0,0,0,1.41,5.23q.33.6.64,1.24a9.72,9.72,0,0,0,.7,1.24q-.6-1-1.14-2.08A13.16,13.16,0,0,0,45.69,42a14.47,14.47,0,0,0,3.75,2.45,12.43,12.43,0,0,0,4.49,1,12.58,12.58,0,0,0,4.56-.64,13.21,13.21,0,0,0,4-2A13.75,13.75,0,0,0,65.52,39.66Z"/><path class="cls-1" d="M120.93,53.67A3.9,3.9,0,0,1,118,52.46a4.07,4.07,0,0,1-1.17-2.95V24.72l-5.35,5.36a11.45,11.45,0,0,1-3.64,2.48,10.85,10.85,0,0,1-4.31.87,11.09,11.09,0,0,1-4.34-.87,10.6,10.6,0,0,1-3.61-2.48l-5.41-5.43V49.51A4,4,0,0,1,89,52.46a4.26,4.26,0,0,1-5.94,0,4,4,0,0,1-1.22-2.95V14.74A4.12,4.12,0,0,1,86,10.59a4.06,4.06,0,0,1,2.35.74v-.07l.54.47,11.93,12a4,4,0,0,0,2.75,1.07,3.94,3.94,0,0,0,2.68-1.07l12.33-12.39h.07a4.05,4.05,0,0,1,2.35-.74,4.12,4.12,0,0,1,4.15,4.15V49.51a4.12,4.12,0,0,1-4.15,4.15Z"/><path class="cls-1" d="M173.73,53.67a3.9,3.9,0,0,1-2.91-1.21,4.06,4.06,0,0,1-1.17-2.95V24.72l-5.35,5.36a11.45,11.45,0,0,1-3.64,2.48,10.85,10.85,0,0,1-4.31.87,11.09,11.09,0,0,1-4.34-.87,10.6,10.6,0,0,1-3.61-2.48L143,24.66V49.51a4,4,0,0,1-1.22,2.95,4.26,4.26,0,0,1-5.94,0,4,4,0,0,1-1.22-2.95V14.74a4.12,4.12,0,0,1,4.15-4.15,4.06,4.06,0,0,1,2.35.74v-.07l.54.47,11.93,12a4,4,0,0,0,2.75,1.07A3.94,3.94,0,0,0,159,23.72l12.33-12.39h.07a4.05,4.05,0,0,1,2.35-.74,4.12,4.12,0,0,1,4.15,4.15V49.51a4.12,4.12,0,0,1-4.15,4.15Z"/><path class="cls-1" d="M224.58,10.52a4,4,0,0,1,2.95,1.24,4.13,4.13,0,0,1,1.21,3V32.16A20.62,20.62,0,0,1,227,40.5,21.77,21.77,0,0,1,215.57,52a21.38,21.38,0,0,1-16.75,0A21.76,21.76,0,0,1,187.36,40.5a20.64,20.64,0,0,1-1.71-8.34V14.74a4.23,4.23,0,0,1,4.22-4.22,4,4,0,0,1,2.95,1.24,4.11,4.11,0,0,1,1.21,3V32.12a12.64,12.64,0,0,0,1,5.12,13.8,13.8,0,0,0,2.81,4.18,13,13,0,0,0,9.35,3.88,12.78,12.78,0,0,0,5.09-1,13.43,13.43,0,0,0,7.07-7,12.64,12.64,0,0,0,1-5.12h-.07V14.73a4.23,4.23,0,0,1,4.22-4.21Z"/><path class="cls-1" d="M270,10.52a4.23,4.23,0,0,1,4.22,4.22V49.51l-.07.07v.67a.27.27,0,0,0-.07.2.14.14,0,0,1,0,.1.13.13,0,0,0,0,.1.19.19,0,0,1-.07.13.39.39,0,0,1-.07.27.2.2,0,0,1-.07.13.38.38,0,0,1-.13.27v.07a.54.54,0,0,0-.1.13.53.53,0,0,1-.1.13v.07a.51.51,0,0,0-.1.13.37.37,0,0,1-.17.13v.07l-.27.27-.13.13-.13.13a1.47,1.47,0,0,0-.33.27l-.17.1-.17.1h-.07a.38.38,0,0,1-.27.13.06.06,0,0,0-.07.07c-.09,0-.15,0-.17,0a.27.27,0,0,1-.17,0l-.13.07a.14.14,0,0,0-.1,0s-.08,0-.17,0h-.13a.13.13,0,0,0-.1,0,.27.27,0,0,1-.17,0h-1a.14.14,0,0,1-.1,0,.14.14,0,0,0-.1,0h-.2a.28.28,0,0,0-.2-.07.13.13,0,0,1-.1,0,.14.14,0,0,0-.1,0,.13.13,0,0,1-.1,0,.14.14,0,0,0-.1,0s-.07,0-.07,0,0,0-.07,0l-.27-.13-.07-.07a.38.38,0,0,1-.27-.13l-.07-.07-.27-.13s0-.07,0-.07,0,0,0-.07-.11,0-.2-.13l-.13-.13-.07-.07-23.65-26.6V49.51a4.12,4.12,0,0,1-4.15,4.15,4.12,4.12,0,0,1-3-1.21,4,4,0,0,1-1.24-2.95V14.34l.07-.07a4.15,4.15,0,0,1,4.35-3.75,3.83,3.83,0,0,1,2.88,1.41l23.65,26.53V14.74a4.12,4.12,0,0,1,1.21-3A4,4,0,0,1,270,10.52Z"/><path class="cls-1" d="M285.22,8.38a4,4,0,0,1-2.95-1.23,4.08,4.08,0,0,1-1.21-3,4.07,4.07,0,0,1,1.21-3A4,4,0,0,1,285.22,0a4.08,4.08,0,0,1,3,1.23,4,4,0,0,1,1.24,3,4,4,0,0,1-1.24,3A4.08,4.08,0,0,1,285.22,8.38Zm0,5a4.23,4.23,0,0,1,4.22,4.22V49.38a4.23,4.23,0,0,1-4.22,4.22,4,4,0,0,1-2.95-1.24,4.12,4.12,0,0,1-1.21-3V17.62a4.12,4.12,0,0,1,1.21-3A4,4,0,0,1,285.22,13.4Z"/><path class="cls-1" d="M334.13,40.84a12.48,12.48,0,0,1-1,4.95,13.17,13.17,0,0,1-2.69,4.08,12.86,12.86,0,0,1-4,2.77,12.05,12.05,0,0,1-4.95,1H303a4.08,4.08,0,0,1-3-1.23,4.15,4.15,0,0,1,0-5.92,4.08,4.08,0,0,1,3-1.23h18.36A4.24,4.24,0,0,0,324.44,44a4.3,4.3,0,0,0,1.31-3.14,4.38,4.38,0,0,0-1.31-3.21,4.24,4.24,0,0,0-3.12-1.32h-8.71a12.62,12.62,0,0,1-5-1,12.8,12.8,0,0,1-6.83-6.83,13.07,13.07,0,0,1,0-10,12.91,12.91,0,0,1,2.75-4.09,13.54,13.54,0,0,1,4.05-2.78,12,12,0,0,1,5-1h8.51a4.08,4.08,0,0,1,3,1.23,4.14,4.14,0,0,1,0,5.92,4.1,4.1,0,0,1-3,1.23H312.5a4.44,4.44,0,0,0-3.09,1.36,4.6,4.6,0,0,0,0,6.36,4.19,4.19,0,0,0,3.15,1.33h8.71a12.28,12.28,0,0,1,5,1,13.4,13.4,0,0,1,4.09,2.77,12.89,12.89,0,0,1,2.75,4.08A12.56,12.56,0,0,1,334.13,40.84Z"/></g></g></svg>
        <span class="logo_detail" style="width: 14vw;max-width:150px;display: inline-block;"><svg id="?덉씠??1" data-name="?덉씠??1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 148.44 12.04"><defs><style>.cls-1{fill:#fff;}</style></defs><path class="cls-1" d="M184.94,338.33a.87.87,0,0,1-.65-.27.91.91,0,0,1-.26-.66v-5.55l-1.2,1.2a2.6,2.6,0,0,1-.82.55,2.43,2.43,0,0,1-1,.2,2.49,2.49,0,0,1-1-.2,2.4,2.4,0,0,1-.81-.55l-1.21-1.22v5.57a.9.9,0,0,1-.27.66,1,1,0,0,1-1.33,0,.9.9,0,0,1-.27-.66v-7.79a.92.92,0,0,1,.93-.93.91.91,0,0,1,.53.16h0l.12.1,2.67,2.69a.9.9,0,0,0,.61.24.88.88,0,0,0,.6-.24l2.76-2.78h0a.91.91,0,0,1,.52-.16.92.92,0,0,1,.93.93v7.79a.92.92,0,0,1-.93.93Z" transform="translate(-176.18 -326.3)"/><path class="cls-1" d="M192,328.67a4.65,4.65,0,0,1,1.88.38,4.86,4.86,0,0,1,2.56,2.57,4.68,4.68,0,0,1,.38,1.88v3.9a.92.92,0,0,1-.93.93.92.92,0,0,1-.67-.27.89.89,0,0,1-.28-.66v-1.8h-3.12a3,3,0,0,0-.95.15,2.94,2.94,0,0,0-.82.42,2.9,2.9,0,0,0-.64.64,2.76,2.76,0,0,0-.4.83,0,0,0,0,0,0,0,0,0,0,0,1,0,0,.87.87,0,0,1-.33.46.93.93,0,0,1-.56.17.92.92,0,0,1-.93-.93v-3.9a4.6,4.6,0,0,1,.3-1.67,5,5,0,0,1,1.08-1.71,5.12,5.12,0,0,1,1.55-1.06A4.59,4.59,0,0,1,192,328.67Zm3,5.05v-.22a2.86,2.86,0,0,0-.37-1.44v0a0,0,0,0,1,0,0l-.12-.18-.12-.17a2.89,2.89,0,0,0-2.32-1.12,2.79,2.79,0,0,0-1.33.32,3.09,3.09,0,0,0-1,.85,3,3,0,0,0-.44.83,2.89,2.89,0,0,0-.16,1v1.11a4.8,4.8,0,0,1,1.29-.65,4.73,4.73,0,0,1,1.49-.23H195Z" transform="translate(-176.18 -326.3)"/><path class="cls-1" d="M206.81,337.4a.93.93,0,0,1-.2.58.9.9,0,0,1-.52.34.91.91,0,0,1-.64-.08.92.92,0,0,1-.44-.47.8.8,0,0,1-.06-.3,1.83,1.83,0,0,0,0-.32,3.19,3.19,0,0,0-.18-.76,3.06,3.06,0,0,0-.79-1.12,2.82,2.82,0,0,0-1.49-.7,1.89,1.89,0,0,0-.41,0h-1.25s-.06,0-.06,0v2.67c0,.1,0,.2,0,.29a.63.63,0,0,1-.08.28,1,1,0,0,1-.44.46.88.88,0,0,1-.63.08.94.94,0,0,1-.72-.91v-6.69c0-.19,0-.38,0-.56s0-.37,0-.56a.86.86,0,0,1,.22-.58.94.94,0,0,1,.54-.31.92.92,0,0,1,.72.19.9.9,0,0,1,.38.64,1.23,1.23,0,0,1,0,.3c0,.1,0,.2,0,.3v2.51h1.09l.14-.22.21-.36.21-.36.69-1.18.69-1.18a2.85,2.85,0,0,1,.17-.26,1,1,0,0,1,.21-.22.94.94,0,0,1,.68-.16.9.9,0,0,1,.61.34.88.88,0,0,1,.19.52,1,1,0,0,1-.13.55,1.31,1.31,0,0,0-.1.19,1.54,1.54,0,0,1-.1.19L203.79,333a4.84,4.84,0,0,1,2.17,1.75,5.1,5.1,0,0,1,.62,1.26A4.37,4.37,0,0,1,206.81,337.4Z" transform="translate(-176.18 -326.3)"/><path class="cls-1" d="M217.83,333.52a.94.94,0,0,1-.29.66,1,1,0,0,1-.67.28H210.2a2.35,2.35,0,0,0,.17.38l.15.29.15.27-.13-.23-.12-.23a3.07,3.07,0,0,0,.62.78,2.85,2.85,0,0,0,.84.54,3.19,3.19,0,0,0,1.1.24H213a.9.9,0,0,1,.92.92.91.91,0,0,1-.26.66.87.87,0,0,1-.65.27h-.17l-.16,0a4.7,4.7,0,0,1-1.23-.25,5.14,5.14,0,0,1-1.12-.55,4.79,4.79,0,0,1-.94-.8,4.61,4.61,0,0,1-.71-1,4.83,4.83,0,0,1-.5-2.38,4.7,4.7,0,0,1,.71-2.32l.13-.19.14-.19a4.56,4.56,0,0,1,1.35-1.22,5.08,5.08,0,0,1,1.69-.64,4.9,4.9,0,0,1,2.28.18,4.57,4.57,0,0,1,1.94,1.2,5,5,0,0,1,1,1.53,4.51,4.51,0,0,1,.37,1.8v.06ZM211.43,331a3,3,0,0,0-.75.7,3.16,3.16,0,0,0-.48.89h5.64a3.26,3.26,0,0,0-.21-.48,2.86,2.86,0,0,0-.77-.92,3.07,3.07,0,0,0-1.09-.55,2.77,2.77,0,0,0-1.2-.07A3,3,0,0,0,211.43,331Z" transform="translate(-176.18 -326.3)"/><path class="cls-1" d="M232.5,328.67a4.65,4.65,0,0,1,1.88.38,4.86,4.86,0,0,1,2.56,2.57,4.68,4.68,0,0,1,.38,1.88v3.9a.92.92,0,0,1-.93.93.92.92,0,0,1-.67-.27.89.89,0,0,1-.28-.66v-1.8h-3.12a3,3,0,0,0-.95.15,2.94,2.94,0,0,0-.82.42,2.9,2.9,0,0,0-.64.64,2.76,2.76,0,0,0-.4.83,0,0,0,0,0,0,0,0,0,0,0,1,0,0,.87.87,0,0,1-.33.46.93.93,0,0,1-.56.17.92.92,0,0,1-.93-.93v-3.9a4.6,4.6,0,0,1,.3-1.67,5,5,0,0,1,1.08-1.71,5.12,5.12,0,0,1,1.55-1.06A4.59,4.59,0,0,1,232.5,328.67Zm3,5.05v-.22a2.86,2.86,0,0,0-.37-1.44v0a0,0,0,0,1,0,0l-.12-.18-.12-.17a2.89,2.89,0,0,0-2.32-1.12,2.79,2.79,0,0,0-1.33.32,3.09,3.09,0,0,0-1,.85,3,3,0,0,0-.44.83,2.89,2.89,0,0,0-.16,1v1.11a4.8,4.8,0,0,1,1.29-.65,4.73,4.73,0,0,1,1.49-.23h3.12Z" transform="translate(-176.18 -326.3)"/><path class="cls-1" d="M246.95,328.67a.95.95,0,0,1,.95.95v7.79h0v.15a.06.06,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0l0,0a.09.09,0,0,1,0,.06,0,0,0,0,1,0,0,.09.09,0,0,1,0,.06h0l0,0,0,0v0l0,0,0,0v0l-.06.06,0,0,0,0-.07.06,0,0,0,0h0a.08.08,0,0,1-.06,0h-.09l0,0h-.63l-.06,0h0a.08.08,0,0,1-.06,0h0l-.06,0h0s0,0,0,0l0,0,0,0h0l-5.29-6v5.33a.92.92,0,0,1-.93.93.92.92,0,0,1-.67-.27.89.89,0,0,1-.28-.66v-7.87l0,0a.93.93,0,0,1,1-.84.86.86,0,0,1,.65.31l5.29,5.94v-5.31a.92.92,0,0,1,.27-.67A.89.89,0,0,1,246.95,328.67Z" transform="translate(-176.18 -326.3)"/><path class="cls-1" d="M258.74,333.59c0,.08,0,.16,0,.23s0,.15,0,.23a4.77,4.77,0,0,1-.3,1.19,5,5,0,0,1-.58,1.06,4.73,4.73,0,0,1-.83.89,4.91,4.91,0,0,1-1,.67,4.86,4.86,0,0,1-2.43.45,4.79,4.79,0,0,1-3.93-2.6,4.8,4.8,0,0,1-.53-2.33,5,5,0,0,1,.29-1.49,4.93,4.93,0,0,1,.72-1.33,4.65,4.65,0,0,1,1.43-1.24,4.86,4.86,0,0,1,1.79-.59,4.83,4.83,0,0,1,3.55,1h0v-2.47a.89.89,0,0,1,.27-.66,1,1,0,0,1,1.33,0,.89.89,0,0,1,.27.66v6.36Zm-2.6,1.88a3,3,0,0,0,.68-1.4,2.88,2.88,0,0,0-.11-1.55,2.94,2.94,0,0,0-.64-1,3,3,0,0,0-1-.69,2.88,2.88,0,0,0-1.19-.25,2.78,2.78,0,0,0-1.17.25l-.46.25a2.62,2.62,0,0,0-.41.32,3.18,3.18,0,0,0-.63.89,2.79,2.79,0,0,0-.27,1.07,3.12,3.12,0,0,0,.1,1,2.6,2.6,0,0,0,.43.89,3,3,0,0,0,.73.74,2.85,2.85,0,0,0,.92.44,3.24,3.24,0,0,0,1,.09,2.75,2.75,0,0,0,1-.24l-.24.11-.25.1.58-.24A3.07,3.07,0,0,0,256.14,335.46Z" transform="translate(-176.18 -326.3)"/><path class="cls-1" d="M276.77,336.75a.92.92,0,0,1,.27.67.92.92,0,0,1-.93.93H275a4.63,4.63,0,0,1-1.87-.38,5,5,0,0,1-1.53-1,4.92,4.92,0,0,1-1-1.53,4.76,4.76,0,0,1,0-3.75,4.92,4.92,0,0,1,1-1.53,5,5,0,0,1,1.53-1,4.64,4.64,0,0,1,1.87-.38h1.11a.92.92,0,0,1,.93.93.92.92,0,0,1-.27.67.88.88,0,0,1-.66.28H275a2.84,2.84,0,0,0-1.15.23,3.1,3.1,0,0,0-.94.63,2.92,2.92,0,0,0-.64.94,2.83,2.83,0,0,0-.23,1.14,2.86,2.86,0,0,0,.23,1.15,2.9,2.9,0,0,0,.64.94,3.11,3.11,0,0,0,.94.63,2.85,2.85,0,0,0,1.15.23h1.11A.88.88,0,0,1,276.77,336.75Z" transform="translate(-176.18 -326.3)"/><path class="cls-1" d="M281.6,328.76a4.84,4.84,0,0,1,5.26,2.93,4.63,4.63,0,0,1,.35,1.85A4.57,4.57,0,0,1,287,335a4.89,4.89,0,0,1-.7,1.34,4.75,4.75,0,0,1-1.86,1.51,4.82,4.82,0,0,1-2.34.44,4.72,4.72,0,0,1-1.23-.25,5,5,0,0,1-2.05-1.37,4.6,4.6,0,0,1-.71-1,5.1,5.1,0,0,1-.4-1.16,4.69,4.69,0,0,1-.1-1.21,5.15,5.15,0,0,1,.2-1.2,4.46,4.46,0,0,1,.5-1.12,3,3,0,0,1,.26-.39h0a4.46,4.46,0,0,1,1.35-1.21A5.17,5.17,0,0,1,281.6,328.76Zm3.24,6.44a3,3,0,0,0,.5-2.1,2.88,2.88,0,0,0-.33-1,3.19,3.19,0,0,0-.78-.93,2.75,2.75,0,0,0-1.08-.54,2.86,2.86,0,0,0-1.2-.08,2.91,2.91,0,0,0-1.14.42,3,3,0,0,0-1,1.16,2.91,2.91,0,0,0-.33,1.53,2.75,2.75,0,0,0,.31,1.17l.14.28a2.14,2.14,0,0,0,.16.28c-.09-.15-.18-.31-.26-.47a2.94,2.94,0,0,0,.62.77,3.25,3.25,0,0,0,.84.55,2.83,2.83,0,0,0,2,.09,3,3,0,0,0,.88-.45A3.09,3.09,0,0,0,284.84,335.2Z" transform="translate(-176.18 -326.3)"/><path class="cls-1" d="M297.24,338.33a.87.87,0,0,1-.65-.27.91.91,0,0,1-.26-.66v-5.55l-1.2,1.2a2.59,2.59,0,0,1-.82.55,2.43,2.43,0,0,1-1,.2,2.48,2.48,0,0,1-1-.2,2.4,2.4,0,0,1-.81-.55l-1.21-1.22v5.57a.9.9,0,0,1-.27.66,1,1,0,0,1-1.33,0,.89.89,0,0,1-.27-.66v-7.79a.92.92,0,0,1,.93-.93.91.91,0,0,1,.53.16h0l.12.1,2.67,2.69a.9.9,0,0,0,.62.24.88.88,0,0,0,.6-.24l2.76-2.78h0a.91.91,0,0,1,.53-.16.92.92,0,0,1,.93.93v7.79a.92.92,0,0,1-.93.93Z" transform="translate(-176.18 -326.3)"/><path class="cls-1" d="M309.06,338.33a.87.87,0,0,1-.65-.27.91.91,0,0,1-.26-.66v-5.55l-1.2,1.2a2.59,2.59,0,0,1-.81.55,2.44,2.44,0,0,1-1,.2,2.49,2.49,0,0,1-1-.2,2.39,2.39,0,0,1-.81-.55l-1.21-1.22v5.57a.9.9,0,0,1-.27.66,1,1,0,0,1-1.33,0,.9.9,0,0,1-.27-.66v-7.79a.92.92,0,0,1,.93-.93.91.91,0,0,1,.53.16h0l.12.1,2.67,2.69a.9.9,0,0,0,.62.24.88.88,0,0,0,.6-.24l2.76-2.78h0a.93.93,0,0,1,1.18.11.9.9,0,0,1,.27.66v7.79a.92.92,0,0,1-.93.93Z" transform="translate(-176.18 -326.3)"/><path class="cls-1" d="M312.8,328.19a.89.89,0,0,1-.66-.27.95.95,0,0,1,0-1.33.89.89,0,0,1,.66-.28.91.91,0,0,1,.67.28.93.93,0,0,1,0,1.33A.91.91,0,0,1,312.8,328.19Zm0,1.13a1,1,0,0,1,.95.95v7.11a.95.95,0,0,1-.95.94.88.88,0,0,1-.66-.28.92.92,0,0,1-.27-.67v-7.11a.92.92,0,0,1,.27-.67A.89.89,0,0,1,312.8,329.31Z" transform="translate(-176.18 -326.3)"/><path class="cls-1" d="M324.35,328.95a.93.93,0,0,1,.27.67.92.92,0,0,1-.93.93h-2.4v6.86a.89.89,0,0,1-.28.66.92.92,0,0,1-.67.27.92.92,0,0,1-.93-.93v-6.86H317a.92.92,0,0,1-.93-.93.93.93,0,0,1,.27-.67.89.89,0,0,1,.66-.28h6.67A.89.89,0,0,1,324.35,328.95Z" transform="translate(-176.18 -326.3)"/></svg></span>
      </a>
    </div>
    <div id="log_in">
      <% if member_signed_in? %>
        <div style="text-align:center;padding:10px 14px" class="logged_on">
          <div id="profile_wrapper">
            <div id="profile_left" style="background:url(<%=current_member.image_url%>);background-size: auto 100%;"></div>
            <div id="profile_right">
              <a href="/profile"><%= current_member.senior_number %>기 <%= current_member.username %></a>
              <div><%= link_to "로그아웃", '/members/sign_out', method: :get, data: { confirm: "Are you sure?" } %></div>
            </div>
          </div>
        </div>
      <% else %>
        <div style="text-align:center;padding:30px;font-size:20px;"><%= link_to "로그인", '/members/sign_in' %></div>
      <% end %>
    </div>
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">

          <%Category.where(default: nil).each do |category|%>
          <%if can? :read, category%>
          <li><a><%=category.name%> <span class="icon icon-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none">
              <%category.boards.each do |board|%>
                <%if board.template%>
                  <%if board.template[0] == '/'%>
                    <li><a href="<%=board.template%>"><%=board.name%></a></li>
                  <%else%>
                    <li><a href="/board/<%=category.route%>/<%=board.route%>"><%=board.name%></a></li>
                  <%end%>
                <%else%>
                  <li><a href="/board/<%=category.route%>/<%=board.route%>"><%=board.name%></a></li>
                <%end%>
              <%end%>
            </ul>
          </li>
          <%end%>
          <%end%>
          <%Category.where.not('default' => nil).each do |category|%>
            <%if can? :read, category%>
            <li><a href="<%=category.default%>"><%=category.name%></a></li>
            <%end%>
          <%end%>
          </ul>
      </div>
    </div>
  </div>

  <div id="board">
    <%= render partial: "shared/flash_messages", flash: flash %>
    <div id="article">
      <%= yield %>
    </div>
  </div>
</body>
</html>
<script type="text/javascript" src="/js/custom.js"></script>
<script type="text/javascript">
$(".menu-toggle").on('click', function() {
  $(this).toggleClass("on");
  $('#sidebar-menu').toggleClass("on");
  $("nav ul").toggleClass('hidden');
});
</script>
